@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.background-container {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: auto;
    z-index: -1;
}

.wrap-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 90%;
    width: 90%;
}

.wrap-network-container {
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(70, 130, 180, 0.5);
    padding: 25px;
    height: 100%;
    width: 70%;
}

.wrap-group-container {
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(70, 130, 180, 0.5);
    padding: 25px;
    height: 100%;
    width: 25%;
}

.wrap-network-container h2,
.wrap-group-container h2 {
    text-align: center;
    border-bottom: 2px solid #4682b4;
    padding-bottom: 10px;
    margin-bottom: 25px;
    color: #4682b4;
}

h2 {
    text-align: center;
}

label {
    color: #999;
    font-size: 18px;
    text-align: center;
}

.network-summary-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 98%;
    padding: 10px;
    background-color: #4682b4;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.network-summary-left {
    flex: 1;
    text-align: left;
    font-size: 16px;
    color: #fff;
    font-weight: bold;
    padding-left: 10px;
    padding: 10px 20px;
}

.network-summary-right {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 30px;
    padding-right: 10px;
    color: #fff;
}

.failure-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.failure-item img {
    width: 40px;
    height: auto;
    max-height: 40px;
    object-fit: contain;
}

.wrap-node-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.range-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 10%;
    width: 100%;
}

.range-container select{
    height: 60%;
    width: 20%;
    border: 2px solid #4682b4;
    border-radius: 8px;
    padding: 0px;
    font-size: 14px;
    color: #4682b4;
    cursor: pointer;
}

.range-container select:focus{
    outline: 2px solid #63e8f0;
}

.range-container button {
    height: 60%;
}

.node-container {
    display: grid;
    grid-template-columns: repeat(8, auto);
    height: 100%;
    width: 100%;
    gap: 5px;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
}

.node-container button {
    position: relative;
    padding: 5px;
    background-color: #4682b4;
    color: #fff;
    border: none;
    cursor: pointer;
    width: 70%;
    height: 90%;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

.node-container button:hover,
.group-container button:hover {
    color: #4682b4;
    background-color: #63e8f0;
}

.group-container {
    display: grid;
    grid-template-columns: auto; 
    grid-template-rows: repeat(10, auto);
    gap: 10px;
    margin-top: 10px;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    align-content: start;
}

.group-container button {
    padding: 5px;
    background-color: #4682b4;
    color: #fff;
    border: none;
    cursor: pointer;
    width: 90%;
    height: 53px;
    margin-left: 5%;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

.popup-overlay { 
    position: fixed; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
    background-color: rgba(0, 0, 0, 0.5);
    visibility: hidden;
    z-index: 9;
}

.popupTree {
    position: fixed; 
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30%;
    height: 30%;
    background-color: #fff;  
    border-radius: 8px; 
    padding: 20px;
    visibility: hidden;
    z-index: 10;
}

.popup {
    position: fixed; 
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 55%;
    height: 20%;
    background-color: #fff;  
    border-radius: 8px; 
    padding: 20px;
    visibility: hidden;
    z-index: 10;
}

.popup-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%; 
    height: 100%;
}

.popup-subcontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-right: 2px solid #4682b4;
    height: 100%;
    width: 30%;
    padding: 10px 0px;
    gap: 10%;
}

.popup-subcontainer-small {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100%;
    width: 5%;
}

.popup-button-subcontainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 30%;
    width: 100%;
    padding: 0px 20px;
    gap: 10%;
}

.popup-button-subcontainer button {
    padding: 5px;
    background-color: #4682b4;
    color: #fff;
    border: none;
    cursor: pointer;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.popup-button-subcontainer button:hover {
    color: #4682b4;
    background-color: #63e8f0;
}

.popup-button-subcontainer button.clicked {
    color: #4682b4;
    /*background-color: #c0eff1;*/
    background-color: #c2fcff;
    transform: scale(0.95);
}

.closeWindow {
    color: black;
    float: right;
    font-size: 20px;
    font-weight: bold;
    height: 10%;
    width: 10%;
}

.closeWindow:hover {
    color: #C30101;
    cursor: pointer;
}

.popup-polling-subcontainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 40%;
    width: 100%;
    padding: 0px 20px;
    gap: 10%;
}

.popup-polling-subcontainer button{
    width: 25%;
    height: 100%;
    color: #4682b4;
    border: 2px solid #4682b4;
    border-radius: 8px;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center;
    overflow: visible;
    position: relative;
}

.node-container button.blue {
    background-color: #4682b4; /* Azul por defecto */
}

.node-container button.gray {
    background-color: gray;
}

.node-container button.red {
    background-color: #c12026;
}

.node-container button.orange {
    background-color: orange;
}

.node-container button.blue:hover {
    background-color: #63e8f0;
}

.node-container button.gray:hover {
    background-color: #999; /* Gris más claro para el hover */
}

.node-container button.red:hover {
    background-color: #ff7f7f;
}

.node-container button.orange:hover {
    background-color: #fca757;
}

.fail-count-badge {
    position: absolute;
    top: 0;
    right: 0;
    background-color: red;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    border-radius: 50%;
    padding: 2px 6px;
    transform: translate(50%, -50%); /* Ajusta para centrar la burbuja en la esquina */
}

.emergency-count-badge {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #fdfab2;
    color: #000;
    font-size: 12px;
    font-weight: bold;
    border-radius: 50%;
    padding: 2px 6px;
    transform: translate(50%, -50%); /* Ajusta para centrar la burbuja en la esquina */
}

.status-indicator {
    position: absolute;
    top: 0; 
    right: 0;
    transform: translate(40%, -40%);
    width: 16px;
    height: 16px;
    border-radius: 50%;
    pointer-events: none;
    border: 2px solid #000;
}

.status-indicator.on-state {
    background-color: #f2ff36;
}
.status-indicator.off-state {
    background-color: #000;
}

.tree-container {
    margin-left: auto;
    margin-right: 20px;
}

.tree-container button {
    display: inline-flex;
    align-items: center;
    gap: 5px;
    padding: 5px 10px;
    font-size: 16px;
    height: 60%;
    cursor: pointer;
    border: none;
    background-color: #4682b4;
    color: #fff;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}
  
.tree-container button:hover {
    background-color: #63e8f0;
}

.button-icon {
    width: 20px;   /* Ajusta según lo necesites */
    height: 20px;
}
  
.dark-filter {
    filter: brightness(50%);
}

.button-disabled {
    opacity: 0.5;
    pointer-events: none;
}

.loader {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #4682b4;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1.5s linear infinite;
    margin: 0 auto;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.popupChangeNodes {
    display: flex;
    flex-direction: column;
    align-items: center;           /* Centra horizontalmente */
    justify-content: center;       /* Centra verticalmente si das altura fija */
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 350px;
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    visibility: hidden;
    z-index: 10;
}

.position-row {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    margin: 10px 0;
}

.position-row label {
    width: 45%;
    font-size: 16px;
    color: #4682b4;
    text-align: center;
    margin-right: 10px;
}

.position-row input[type="number"] {
    width: 45%;
    padding: 6px;
    border-radius: 5px;
    border: 1px solid #4682b4;
    text-align: center;
}

.popupChangeNodes button {
    margin-top: 20px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 8px 20px;
    border-radius: 5px;
    border: none;
    background-color: #4682b4;
    color: white;
    font-size: 14px;
    cursor: pointer;
    text-transform: uppercase;
}

.popupChangeNodes button:hover {
    background-color: #63e8f0;
    color: #4682b4;
}
