@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.background-container {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: auto;
    z-index: -1;
}

.wrap-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 90%;
    width: 90%;
}

.wrap-list-container, .wrap-group-container {
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(70, 130, 180, 0.5);
    padding: 25px 25px 0px;
    height: 100%;
}

.wrap-list-container {
    width: 70%;
    overflow: auto;
}

.wrap-group-container {
    width: 25%;
    height: 60%;
}

h2 {
    text-align: center;
    border-bottom: 2px solid #4682b4;
    padding-bottom: 10px;
    margin-bottom: 20px;
    color: #4682b4;
}

label {
    margin-top: 20px;
    text-align: center;
    color: #999;
    font-size: 18px;
    display: inline-block;
    width: 100%;
}

.list ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    max-height: 100%;
    height: 70vh;
    margin: 10px;
    width: calc(100% - 20px);
    border: 2px solid #4682b4;
    border-radius: 8px;
    padding: 10px;
    overflow: auto;
}

.selector {
    height: 50px;
    width: 100%;
    margin-top: 20px;
    border: 2px solid #4682b4;
    border-radius: 8px;
    padding: 5px;
    font-size: 16px;
    color: #4682b4;
    cursor: pointer;
}

.selector:focus {
    outline: 2px solid #63e8f0;
}

button {
    cursor: pointer;
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
    width: 100%;
    border: 0;
    margin-top: 15px;
    padding: 10px 0;
    border-radius: 5px;
    background: #4682b4;
}

button:hover {
    color: #63e8f0;
}

table {
    width: 100%;
    border-collapse: collapse;
    overflow: auto;
}

th, td {
    width: 50%;
    border: 2px solid #4682b4;
    padding: 5px;
}

th {
    background-color: #f4f4f4;
    color: #4682b4;
    font-weight: bold;
    text-align: center;
}

td {
    background-color: #fff;
    text-align: left;
}

tr {
    height: 20px;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

.pagination-container {
    position: relative;
    bottom: auto;
    left: auto;
    transform: none;
    background: #fff;
    text-align: center;
    padding-top: 5px;
    margin-top: 10px;
    z-index: 9;
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
}
.pagination-container label {
    font-family: 16px;
    color: #999;
    margin: 0;
}

.pagination-container button {
    font-family: 16px;
    color: #ffffff;
    height: 32px;
    width: 100px;
    margin: 0;
    margin-top: 0px;
    padding: 0;
}